[tool.poetry]
name = "chain_harvester"
version = "v0.29.0"
description = "A Python library designed to interface with various blockchain networks, enabling the retrieval of data."
authors = ["0xCommanderKeen <f91289621+0xCommanderKeen@users.noreply.github.com>"]
repository = "https://github.com/blockanalitica/chain-harvester"
documentation = "https://blockanalitica.github.io/chain-harvester/"
readme = "README.md"
packages = [
  {include = "chain_harvester"}
]

[tool.poetry.dependencies]
python = ">=3.8,<4.0"
web3 = "^6.8.0"
requests = "^2.31.0"
eth-abi = "^4.1.0"

[tool.poetry.group.dev.dependencies]
pytest = "^7.4.0"
pre-commit = "^3.3.3"
tox = "^4.6.4"
python-dotenv = "^1.0.0"


[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 100
target-version = ['py37']
preview = true

[tool.ruff]
target-version = "py37"
line-length = 100
fix = true
select = [
    # flake8-2020
    "YTT",
    # flake8-bandit
    "S",
    # flake8-bugbear
    "B",
    # flake8-builtins
    "A",
    # flake8-comprehensions
    "C4",
    # flake8-debugger
    "T10",
    # flake8-simplify
    "SIM",
    # isort
    "I",
    # mccabe
    "C90",
    # pycodestyle
    "E", "W",
    # pyflakes
    "F",
    # pygrep-hooks
    "PGH",
    # pyupgrade
    "UP",
    # ruff
    "RUF",
    # tryceratops
    "TRY",
    "T201",
]
ignore = [
    # LineTooLong
    "E501",
    # DoNotAssignLambda
    "E731",
    "TRY300",
    "TRY003"
]

[tool.ruff.per-file-ignores]
"tests/*" = ["S101"]
"intregration_tests/*" = ["S101"]



